.pageStyle {
    background-color: beige;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.formStyle {
    text-align: center;
    padding-top: 150px;
}
.textFormat {
    display: inline-block;
    width: 20%;
}
