<div class="pageStyle">
    <form class="formStyle">
        <h4>Online Banking</h4>
        <br>
        <h6>Transfe Amount in Account</h6><br><br>
        <label class="textFormat">Account Holder name : </label>
        <input type="text" name="accHolderName">
        <br><br>
        <label class="textFormat">Account number :</label>
        <input type="text" name="accNumber">
        <br><br>
        <label class="textFormat">Transfer Amount :</label>
        <input type="text" name="transferAmount">
        <br><br>
        <label class="textFormat">Transfer Description :</label>
        <textarea type="textarea" name="transferDescription"></textarea>
        <br><br>
        <button class="btn btn-primary">Transfer Amount</button> &nbsp;
        <button type="reset" class="btn btn-secondary">Cancel</button>
        <br><br>
    </form>
</div>