<div class="pageStyle">
    <form class="formStyle">
        <h4>Online Banking</h4>
        <br>
        <h6>Check Balance</h6><br><br>
        <label class="textFormat">Account Holder name : </label>
        Soundarya
        <br><br>
        <label class="textFormat">Account number :</label>
        1234567890
        <br><br>
        <label class="textFormat">Balance :</label>
        100000
        <br><br>
        <button type="reset" class="btn btn-secondary">Back</button>
        <br><br>
    </form>
</div>