<div class="pageStyle">
    <form class="formStyle">
        <h4>Online Banking</h4>
        <br>
        <h6>Welcome!!! Please select the required option</h6>
        <br><br>
        <button class="btn btn-primary" (click)="redirectToDeposit()">Deposit Amount</button> <br><br>
        <button class="btn btn-primary" (click)="redirectToTransfer()">Transfer Amount</button> <br><br>
        <button class="btn btn-primary" (click)="redirectToBalance()">Check Balance</button>
        <br><br>
    </form>
</div>